.banner {
  padding-top: 25px;
  width: 100%;
}

.main {

  &__about {
    width: auto;
    height: 200px;
    background-color: $aboutMe;
    margin-top: 15px;
  }

  &__skills {
    width: auto;
    height: 200px;
    background-color: $skills;
  }

  &__portfolio {
    width: auto;
    height: 200px;
    background-color: $portfolio;
  }

  &__blog {
    width: auto;
    height: 200px;
    background-color: $blog;
  }

  &__contact {
    width: auto;
    height: 200px;
    background-color: $contact;
    margin-bottom: 15px;
  }

  &__title {
    margin: 0;
    padding-top: 5px;
    padding-left: 5px;
    font-family: $raleway;
  }

//  @media (min-width: $screen-md-tablet) {
//    width: $screen-md-tablet;
//  }

//  @media (min-width: $screen-lg-desktop) {
//    width: $screen-lg-desktop;
//  }


}