<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Test Application{% endblock %}</title>
    {% block bower %}
        <script src="{{ asset('js/javascript.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}"/>
    {% endblock %}
</head>
<body>
<div id="sidebar">
    {% block sidebar %}
        <ul class="navigation">
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    {% endblock %}
</div>

<div id="content">
    {% block body %}{% endblock %}
</div>
</body>
</html>