{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
    {% for item in home %}
        <ul>
            <li>{{ item }}</li>
        </ul>
    {% endfor %}
    </div>
{% endblock %}
