{% extends 'base.html.twig' %}

{% block banner %}
        <img class="banner" src="img/home/background.png" >
{% endblock %}

{% block body %}
    <section id="home">
        <div class="main__about">
            <h4 class="main__title">{ About }</h4>
        </div>
    </section>

    <section id="skills">
        <div class="main__skills">
            <h4 class="main__title">{ Skills }</h4>
        </div>
    </section>

    <section id="portfolio">
        <div class="main__portfolio">
            <h4 class="main__title">{ Portfolio }</h4>
        </div>
    </section>

    <section id="blog">
        <div class="main__blog">
            <h4 class="main__title">{ Blog }</h4>
        </div>
    </section>

    <section id="contact">
        <div class="main__contact">
            <h4 class="main__title">{ Contact }</h4>
        </div>
    </section>
{% endblock %}

